* {
    margin: 0;  
}

#title {
    text-align: center;
    font-size: 65px;
    width: 100%;
    padding: 30px 0;
    background-color: rgb(255, 210, 8);
}

#color-palette {
   
    /* border: solid 1px red; */
    display: inline-flex;
    position: relative;
    margin: 2% 34.9%;
    background-color: rgb(32, 66, 32);
}

.color {
    display: inline-block;
    height: 70px;
    width: 70px;
    border: solid 1px black;
    margin: 15px;
}

#black {
    background-color: black;
}

#color2 {
    background-color: crimson;
}

#color3 {
    background-color: rgb(22, 145, 22);
}

#color4 {
    background-color: blue;
}

#pixel-board {
    display: inline-block;
    margin: 0 41%;

}

.pixel {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: solid 1px black;
    background-color: white;
}

