* {
    margin: 0;
    
}

#title {
    text-align: center;
    font-size: 65px;
    width: 100%;
    padding: 30px 0;
    background-color: rgb(255, 210, 8);
}

#color-palette {
    /* border: solid 1px red; */
    display: inline-flex;
    position: relative;
    margin: 2% 29%;
}

.color {
    display: inline-block;
    height: 100px;
    width: 100px;
    border: solid 1px black;
    margin: 20px;
}

#black {
    background-color: black;
}

#color2 {
    background-color: crimson;
}

#color3 {
    background-color: rgb(22, 145, 22);
}

#color4 {
    background-color: blue;
}